<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="../_sass\layouts\search.scss">
    <meta name="viewport" content="width=devide-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
    <title></title>
  </head>
  <body>
   <div class="container">
      <div class="buscador">
        <form action="">
                  <input class="search" height="40px" width="400px" type="search" class="form-control" placeholder="Buscar"/>
                  <!-- <a class="lupa" href=""><img class="lupa" height="25px" width="30px" src="../assets/images/ico_search.svg" alt="Buscar"></a> -->
                  <button class="lupa"><img class="lupa" height="25px" width="30px" src="../assets/images/ico_search.svg" alt="Buscar"></button>
        </form>
      </div>
   </div>
  </body>
</html>
